# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
.DS_Store
output/


# Environments
.env
.envrc
.venv


# Keboola specific
out/tables/*.csv
out/tables/*.json
out/files/*.json
in/tables/*.csv

data/config.json
